@model IEnumerable<VendingMach.Models.Beverage>
@{ 
    Layout = null;
}
@foreach (var item in Model)
{
    <div class="col-md-2 product-win">
        <table class="product-table">
            <tr>
                <td>@item.Name - </td>
                <td>@item.Price руб.</td>
            </tr>
            <tr>
                <td colspan="2">
                    @using (Ajax.BeginForm("ListProducts", new AjaxOptions { UpdateTargetId = "results" }))
                    {
                    <input type="hidden" readonly class="balance" name="balance" value="@ViewBag.Balance" />
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="hidden" readonly name="price" value="@item.Price" />
                    <input type="submit" class="btn btn-default" value="Купить" onclick='buyProduct("@item.Price")' />
                    }
                </td>
            </tr>
        </table>
    </div>
}


